@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,body,#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'DNFBitBitv2';
  src: url('./assets/fonts/DNFBitBitv2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(to right, #F6FEEE, #90D985);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-border {
  position: relative;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 4px black; 
}

.text-border-norm {
  position: relative;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 3px black; 
}
/* Custom Scrollbar Styles */
.webpage-scrollbar::-webkit-scrollbar {
  width: 2.2rem;
}

.webpage-scrollbar::-webkit-scrollbar-track {
  background: url('./assets/images/scrollbar_track.png') no-repeat center center; /* Background image for the track */
  background-size: 2.2rem 45.7rem;
}

.webpage-scrollbar::-webkit-scrollbar-thumb {
  background: url('./assets/images/scrollbar_thumb.png') no-repeat center center; /* Background image for the thumb */
  background-size: 2.2rem 5.5rem; 
}

.webpage-scrollbar::-webkit-scrollbar-thumb:hover {
  background: url('./assets/images/scrollbar_thumb.png') no-repeat center center; /* Background image when hovered */
  background-size: 2.2rem 5.5rem;
}


/* index.css */
.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* 2:3 비율을 유지하기 위한 설정 */
  position: relative; /* 위치 설정 */
  box-sizing: border-box; /* 전체 크기에 패딩과 보더를 포함 */
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 102%; /* 뒷면 카드의 width를 약간 더 크게 설정 */
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0; /* 좌측 위치를 살짝 조정하여 중앙에 맞춤 */
  box-sizing: border-box; /* 전체 크기에 패딩과 보더를 포함 */
}

.flip-card-back {
  transform: rotateY(180deg);
}
