@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,body,#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'DNFBitBitv2';
  src: url('./assets/fonts/DNFBitBitv2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DungGeunMo';
  src: url('./assets/fonts/DungGeunMo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gradient-text {
  background: linear-gradient(to right, #F6FEEE, #90D985);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text:hover {
  background: linear-gradient(112deg, #F6FEEE 17.38%, #95FFEC 84.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.text-border {
  position: relative;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 4px black; 
}

.text-border-norm {
  position: relative;
  color: transparent;
  display: inline-block;
  -webkit-text-stroke: 3px black; 
}
/* Custom Scrollbar Styles */
.webpage-scrollbar::-webkit-scrollbar {
  width: 2.2rem;
}

.webpage-scrollbar::-webkit-scrollbar-track {
  background: url('./assets/images/scrollbar_track.png') no-repeat center center; /* Background image for the track */
  background-size: 2.2rem 45.7rem;
}

.webpage-scrollbar::-webkit-scrollbar-thumb {
  background: url('./assets/images/scrollbar_thumb.png') no-repeat center center; /* Background image for the thumb */
  background-size: 2.2rem 5.5rem; 
}

.webpage-scrollbar::-webkit-scrollbar-thumb:hover {
  background: url('./assets/images/scrollbar_thumb.png') no-repeat center center; /* Background image when hovered */
  background-size: 2.2rem 5.5rem;
}


/* index.css */
.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 0;
  padding-bottom: 150%; /* 2:3 비율을 유지하기 위한 설정 */
  position: relative; /* 위치 설정 */
  box-sizing: border-box; /* 전체 크기에 패딩과 보더를 포함 */
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 102%; /* 뒷면 카드의 width를 약간 더 크게 설정 */
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0; /* 좌측 위치를 살짝 조정하여 중앙에 맞춤 */
  box-sizing: border-box; /* 전체 크기에 패딩과 보더를 포함 */
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* 로딩페이지 사람 이동 */
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 6.2rem)); /* div의 너비에서 이미지의 너비를 뺀 거리만큼 이동 */
  }
}

/* 로딩바 채우기 */
@keyframes fillWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.animate-fade-out {
  animation: fadeOut 1s ease-in-out;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
.dot1, .dot2, .dot3 {
  display: inline-block;
  animation: wave 1.5s infinite;
}
.dot2 {
  animation-delay: 0.2s;
}
.dot3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 50%, 100% {
      opacity: 1;
  }
  25%, 75% {
      opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s infinite;
}

/* 등장인물 나타나기 */
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

/* 피드백 모달 애니메이션! */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-3496px);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bubbleAppear {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-overlay {
  animation: fadeIn 1s ease-out forwards;
}

.duck-image {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.bubble {
  animation: bubbleAppear 1.5s ease-out forwards;
}

.animate-slide {
  animation: slide 20s linear infinite;
}

@keyframes scroll-up {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-130%);
  }
}

.animate-scroll-up {
  animation: scroll-up 5s linear forwards;
}